/*$breakpoints: (
  'phone': 320px, 
  'tablet': 768px, 
  'desktop': 1024px
) !default;*/
/*
.l-main-header {
    

    @media screen and (min-width: $breackpoint-tablette) {
        border-color: blue;
    }

    @media screen and (min-width: $breackpoint-pc) {
        border-color: blue;
    }
}
*/
* {
  margin: 0;
}

.main-header {
  position: relative;
  width: 100%;
  background: linear-gradient(45deg, #216eb8, #263686);
  height: 200px;
}

.main-header-row {
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.main-header-row__logo, .main-header-row__icons, .main-header-row__form {
  margin-left: 15px;
}

.main-header-row__logo {
  position: relative;
  background: white;
  width: 120px;
  border-radius: 0 0 25px 25px;
  height: 40%;
}

.main-header-row__logo img {
  position: relative;
  width: 120px;
}

.main-header-row__icons {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.main-header-row__icons i {
  color: white;
  font-size: 22px;
  text-align: center;
  text-transform: lowercase;
}

.main-header-row__icons p {
  margin-top: 3px;
  color: white;
  font-size: 12px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

#icons-cart, #icons-cart {
  display: block;
}

.main-header-row__form {
  position: relative;
  top: 40px;
  margin-right: 15px;
}

input {
  padding: 5px;
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header-nav {
  display: none;
}

#menu-hamburger {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 0px;
  top: 0px;
  background-color: #113a62;
  border-radius: 0 0 0 3rem;
}

#menu-hamburger span {
  display: block;
  position: relative;
  height: 3px;
  width: 35px;
  margin: 6px auto;
  background: #ee7c1d;
  border-radius: 1.15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menu-hamburger span:first-child {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  #menu-hamburger {
    display: none;
  }
}

li {
  list-style-type: none;
}

.main-content-nav {
  position: absolute;
  margin-top: 20px;
}

#buttons-home {
  display: inline;
  margin: 10px;
}

#buttons-current {
  display: inline;
  margin: 10px;
}

#buttons-current h3 {
  color: black;
  font-size: 12px;
  padding: 5px 15px;
  border: 2px grey solid;
  margin: auto;
  display: inline-block;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  .main-header-row {
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .main-header-row__logo, .main-header-row__icons, .main-header-row__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    top: 0;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .main-header-row__form {
    width: 60%;
  }
  .main-header-row__form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
  }
  .main-header-row__form input {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main-header-row__icons {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main-header-nav {
    display: inline;
    width: 100%;
    margin-top: -40px;
    position: absolute;
  }
  nav {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
  }
  nav ul li {
    display: inline;
    margin: 20px;
  }
  nav ul li:first-child {
    margin-left: 0px;
  }
  nav ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: red;
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    position: relative;
    width: 60%;
    margin: 0 auto;
  }
  .main-header-row {
    max-width: 100%;
    margin: 0 auto;
  }
  nav {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */