@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/form";
@import "./layouts/footer";
@import "./pages/commande";
@import "./pages/connexion";
@import "./pages/contact";
@import "./pages/ecran-aoc-gaming";
@import "./pages/inscription";
@import "./pages/mon-panier";
@import "./responsive/pc";
@import "./responsive/tablet";