
.menu-hamburger{
   
    position:fixed;
    text-align: center;
    width: 80px;
    height:80px;
    right:0px;
    top:0px;
    padding: auto;
    background-color: darken($color-primary, 20);
    border-radius: 0 0 0 2rem;
    
    
}


#menu-hamburger{
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    
    
    
}

.bar{
 
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: $color-tertiary;
    
}



#menu-hamburger.active .bar:nth-child(2) {
    opacity: 0;
    
}

#menu-hamburger.active .bar:nth-child(1) {
    
    transform: translateY(8px) rotate(45deg);
}

#menu-hamburger.active .bar:nth-child(3) {
    
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: $breakpoint-tablet) {
    .menu-hamburger{
        display: none;
        
    }
    
}
    
