.main-content-nav{
    position: absolute;
    
    margin-top: 20px;
}

#buttons-home{
    
    display: inline;
    margin:10px;
}
#buttons-home i{
    
}

#buttons-current{
    
    display: inline;
    margin:10px;
}

#buttons-current h3{
    color:black;
    font-size: 12px;
    padding: 5px 15px;
    border: 2px grey solid; 
    margin: auto;
    display: inline-block;
    background-color: white;
    
}