thead{
    display: none;
}

td.price{
    color:$color-primary;
    font-weight: bold;
}

tbody tr td{
    
    border-bottom: 1px $color-primary solid;
    
}


@media screen and (min-width: $breakpoint-tablet) {
    
    table{
    
    table-layout: fixed;
    width:95%;
    margin:0 auto;
    border-collapse: collapse;
    
    }

   
    th, td {
        padding: 20px;
    }

    
    
    thead{
        display: table-row-group;
        color: $color-primary;
        font-weight: bold;
        
    }

    thead tr, tbody tr{
        border-bottom: 1px $color-primary solid;
        
    }
 
    tbody tr {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    


    tfoot {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        width:100%;
        
        
    }
    tfoot tr{
        display: inline;
        width:100%;

        
        & td{
            margin:10px 0;
            display: inline-block;
        }
    }

    

    
}


