*{
    font-family: Calibri, Lucia Grande, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

a{
    text-decoration: none;
    font-family: Calibri, Lucia Grande, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

label{
    color:$color-primary;
    font-weight:bold;
}

html{
    box-sizing: border-box;
    height:100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    height:100vh;
    margin:0;
    padding:0;
    
  }
  .wrap{
    width:95%;
    
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    
}

#logo-main-page{
    width:250px;
    height:auto;
    margin:220px auto;

    
}

@media screen and (min-width: $breakpoint-desktop){
    .wrap{
        position: relative;
        
        
        margin:0 auto;
    }
}
