@media screen and (min-width: $breakpoint-desktop){
    .wrap{
        position: relative;
        
        
        margin:0 auto;
    }
    
    .main-header-row{
        max-width: 100%;
        margin: 0 auto;
    }
    nav{
        position: relative;
        max-width: 90%;
        margin: 0 auto;
    }
}