@media screen and (min-width: $breakpoint-tablet) {
    .main-header-row{
        max-width: 90%;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        height: 200px;
        justify-content: space-around;
        align-items: baseline;
        
    }

    .main-header-row__logo, .main-header-row__icons, .main-header-row__form{
        
        display: flex;
        margin:0;
        top:0;
        align-self: baseline;
        

    }

  

    
    .main-header-row__form{
        width:60%;

        & p{
            display: flex;
            align-content: flex-start;
            width:100%;
        }

        & input{
        
        position: relative;
        width:100%;
        display: flex;
        box-sizing: border-box;

        }
   
    }

    

    
    .main-header-row__icons{
        order:3;
    }
    
    .main-header-nav{
        display: inline;
        width: 100%;
        margin-top:-40px;
        position: absolute;
        
        
        }
    nav{
        position: relative;
        max-width: 60%;
        margin: 0 auto;

    
        & ul li{
            display: inline;
            margin: 20px;
            

            &:first-child{
                margin-left: 0px;
            }

            & a{
                color:white;
                padding: 10px;
                text-decoration: none;
                
    
                &:hover{
                    color:red;
                    
                    
                }
            }
        }

        
        
    }
}