@media screen and (min-width: $breakpoint-tablet) {
    

    .wrap{
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    .main-header-row{
        
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 200px;
        justify-content: space-between;
        align-items: baseline;
        
    }

    .main-header-row__logo, .main-header-row__icons, .main-header-row__form{
        
        display: flex;
        margin:0;
        top:0;
        align-self: baseline;
        

    }

  

    
    .main-header-row__form{
        
    width: 100%;
      

        & input{
        
        position: relative;
        width:100%;
        display: flex;
        box-sizing: border-box;

        }
   
    }

    

    
    .main-header-row__icons{
        order:3;
        width:150px;
    }
    
    .main-header-nav{
        display: flex;
    
    }
    .nav-flex-row{
        
        display: flex;
        
        width:100%;
        
        & ul{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
        
        
    
            & li{
            display: flex;
            margin: 0 15px;
            
            
            

                & a{
                color:white;
                padding: 10px;
                text-decoration: none;
                display: flex;
                
    
                    &:hover{
                    color:red;
                    padding: 10px;
                    
                    
                    }
                }
            }

        
        
        }
    }
}