@media screen and (min-width: $breakpoint-tablet) {
    .l-main-header{
        max-width: 90%;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        
        justify-content: space-around;
    }

    .l-main-header-logo, .l-main-header-icons, .l-main-header-form{
        top:0;
        display: flex;
        margin:0;
        align-items: center;
    }
    
    .l-main-header-form{
        width: 60%;
        
        
    }

    input{
        
        position: absolute;
        max-width:100%;
        
        box-sizing: border-box;

        
        }
    }
    

    
    .l-main-header-icons{
        order:3;
    }
    .l-main-header-nav{
        position: absolute;
        display: inline;
        margin-left: 30px;
        margin-top:160px;
    }

    .l-main-header-nav ul li{
        display: inline;
        position: relative;
        

        & a{
            display:inline;
            color:white;
            padding:10px;
        }
       
        
    }
