@media screen and (min-width: $breakpoint-tablet) {
    .form-column{
        width: 100%
    }


    .form-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        
    }

    .l-form-border{
        width: 47%;
        
        
        
        & input{
            width:100%;
            
        }

        
    }
    .l-form-border--fullwrap{
        width :100%;

        & input{
            width:100%;
        }
    }
    
}
