$color-primary:#216eb8 ;
$color-secondary:#263585 ;
$color-tertiary: #e37823;

$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/*$breakpoints: (
  'phone': 320px, 
  'tablet': 768px, 
  'desktop': 1024px
) !default;*/

