$color-primary:rgb(33,110,184);
$color-secondary:rgb(38,54,134);
$color-tertiary: rgb(238,124,29);

$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/*$breakpoints: (
  'phone': 320px, 
  'tablet': 768px, 
  'desktop': 1024px
) !default;*/

