.l-main-footer{
    position: relative;
    background: linear-gradient(45deg, $color-secondary,$color-primary);
    
    width:100%;
    padding:50px;
    padding:auto 0;
    
    
    
    
  

    & p{
        
        color:white;
        font-weight: bold;
        margin:auto;
        
        
    }
}