*{
    margin: 0;
    
}




.l-main-header{
    position: relative;
    width:100%;
    background: linear-gradient(45deg, $color-primary,$color-secondary);
    
}

.wrap-header-desktop{

    position: relative;
    width: 100%;
    
}
            



.l-main-header__logo{
    position: relative;
    background: white;
    width:120px;
    height:90px;
    border-radius: 0 0 25px 25px; 
    
      
}

.l-main-header__logo img{
    position: relative;
    margin:auto;
    width:120px;
    
}

.l-main-header__icons {
    width: 120px;
    display: flex;
    margin-top: 25px;
    flex-direction: row; 
    justify-content: space-between;      
    


    & i{
        color:white;
        font-size: 22px;
        text-align: center;
        text-transform: lowercase;
        
        width:100%;        
        box-sizing: border-box;

    }

    & p{
        color:white;
        text-align: center;
    }

  
}
#icons-cart, #icons-user{
    display: block;
    
    
}





.l-main-header__search {
    position: relative;
    margin: 0 15px;

    
    
    
    
    

    & form, & input {
        
        width:100%;
    }

    & input{
        
        
        padding:5px;
        margin: 25px 0;
        text-align: left;
        border:none;
        border-radius: 3px;
        box-sizing: border-box;
        
        
    }

    
    

 
    
}
.l-main-header__navbar {
    display: none;
}


    

    


    
    @media screen and (min-width: $breakpoint-tablet) {
    

        .wrap{
            position: relative;
            width: 90%;
            margin: 0 auto;
        }
        .wrap-header-desktop{
            
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            height: 125px;
            justify-content: space-between;
            
            
        }
    
        .l-main-header__logo, .l-main-header__icons, .l-main-header__search{
            
            display: flex;
            
            align-items: baseline;
            
    
        }
    
      
    
        
        .l-main-header__search{
            
        width: 100%;
        margin-top: 25px;
          
    
            & input{
            
            position: relative;
            width:100%;
            display: flex;
            margin:0;
            
    
            }
       
        }
    
        
    
        
        .l-main-header__icons{
            order:3;
            width:150px;
        }
        
        .l-main-header__navbar{
            display: flex;
        
        }
        .navbar{
            
            display: flex;
            
            width:100%;
            
            & ul{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: flex-start;
            
            
        
                & li{
                display: flex;
                margin: 0 15px;
                
                
                
    
                    & a{
                    color:white;
                    padding: 10px;
                    text-decoration: none;
                    display: flex;
                    
        
                        &:hover{
                        color:red;
                        padding: 10px;
                        
                        
                        }

                        &:active{
                            color:orange;
                        }
                    }
                }
    
            
            
            }
        }
        
        
    }

    @media screen and (min-width: $breakpoint-desktop){
        .wrap{
            position: relative;
            
            
            margin:0 auto;
        }
        
        .wrap-header-desktop{
            max-width: 100%;
            margin: 0 auto;
        }
        .navbar{
            position: relative;
            max-width: 90%;
            margin: 0 auto;
        }
    }

    



