*{
    margin: 0;
    
}



.main-header{
    position: relative;
    width:100%;
    background: linear-gradient(45deg, $color-primary,$color-secondary);
    height:200px;
}

.main-header-row{

    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;;
}
            
.main-header-row__logo, .main-header-row__icons, .main-header-row__form{
    margin-left: 15px;
}


.main-header-row__logo{
    position: relative;
    background: white;
    width:120px;
    border-radius: 0 0 25px 25px; 
    height:40%;
      
}

.main-header-row__logo img{
    position: relative;
    
    width:120px;
    
}

.main-header-row__icons {
    width: 120px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;      
    margin-top: 10px;


    & i{
        color:white;
        font-size: 22px;
        text-align: center;
        text-transform:lowercase;

    }

    & p{
        margin-top:3px;
        color:white;
        font-size: 12px;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-transform: capitalize;
        
    }
}
#icons-cart, #icons-cart{
    display: block;
    
    
}





.main-header-row__form {
    position: relative;
    top:40px;
    margin-right:15px;
}

input{
    
    padding:5px;
    width:100%;
    text-align: left;
    box-sizing: border-box;
    
}
    
.main-header-nav{
    display: none;
}
    
#menu-hamburger{
    position:fixed;
    width: 80px;
    height:80px;
    right:0px;
    top:0px;
    background-color: darken($color-primary, 20);
    border-radius: 0 0 0 3rem;
    
    

    span{
        display:block;
        position:relative;
        height:3px;
        width:35px;
        margin:6px auto;
        
        background: $color-tertiary;
        border-radius: 1.15rem ;
        box-sizing: border-box;

        
        &:first-child{
            margin-top: 25px;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        display: none;
        
    }
}

