*{
    margin:0;
    box-sizing: content-box;
}



.l-main-header{

    position:absolute;
    width:100%;
    background: linear-gradient(45deg, $color-primary,$color-secondary);
    height:200px;
    margin-left: 0px;
}
            
.l-main-header-logo, .l-main-header-icons, .l-main-header-form{
    margin-left: 15px;
}


.l-main-header-logo{
    position:relative;
    background: white;
    width:120px;
    border-radius: 0 0 25px 25px; 
      
}

.l-main-header-logo img{
    position: relative;
    
    width:120px;
    
}

.l-main-header-icons {
    width: 120px;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;      
    margin-top: 10px;

    & i{
        color:white;
        font-size: 20px;
    }
    

}

.l-main-header-icons-cart, .l-main-header-icons-user {
    display: flex;
}



.l-main-header-form {
    position: relative;
    top:60px;
    margin-right:15px;
}

input{
    
    padding:5px;
    width:100%;
    text-align: left;
    box-sizing: border-box;
    
}
    
#menu-desktop ul li{

    display:none;
}    
    
#menu-hamburger{
    position:fixed;
    width: 80px;
    height:80px;
    right:0px;
    top:0px;
    background-color: darken($color-primary, 20);
    border-radius: 0 0 0 3rem;
    
    

    span{
        display:block;
        position:relative;
        height:3px;
        width:35px;
        margin:6px auto;
        
        background: $color-tertiary;
        border-radius: 1.15rem ;
        box-sizing: border-box;

        
        &:first-child{
            margin-top: 25px;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        display: none;
    }
}

