


.l-main-header{
    position: relative;
    width:100%;
    background: linear-gradient(45deg, $color-primary,$color-secondary);
    
}

.flex-main-header{

    position: relative;
    width: 100%;
    
}
            



.l-main-header__logo{
    position: relative;
    background: white;
    height:90px;
    width:120px;
    border-radius: 0 0 25px 25px; 
    z-index:101;    
    
    display: inline-block;

  

        & img{
            width: 6rem;
            
        }

    
      
}

.l-main-header__logo img{
    position: relative;
    margin:auto;
    width:120px;
    
}

.l-main-header__icons {
    width: 120px;
    display: flex;
    margin-top: 25px;
    flex-direction: row; 
    justify-content: space-between;      
    


    & i{
        color:white;
        font-size: 22px;
        text-align: center;
        text-transform: lowercase;
        
        width:100%;        
        box-sizing: border-box;

    }

    & p{
        color:white;
        text-align: center;
    }

  
}
#icons-cart, #icons-user{
    display: block;
    
    
}





.l-main-header__search {
    position: relative;
    margin: 0 15px;

    
    
    
    
    

    & form, & input {
        
        width:100%;
    }

    & input{
        
        
        padding:5px;
        margin: 25px 0;
        text-align: left;
        border:none;
        border-radius: 3px;
        box-sizing: border-box;
        
        
    }

    
}


    @media screen and (min-width: $breakpoint-tablet) {
    

        .wrap{
            position: relative;
            width: 90%;
            margin: 0 auto;
        }
        .flex-main-header{
            
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            height: 125px;
            justify-content: space-between;
            
            
        }
    
        .l-main-header__logo, .l-main-header__icons, .l-main-header__search{
            
            display: flex;
            
            align-items: baseline;
            
    
        }

        
        .l-main-header__search{
            
        width: 100%;
        margin-top: 25px;
          
    
            & input{
            
            position: relative;
            width:100%;
            display: flex;
            margin:0;
            
    
            }
       
        }
    
        .l-main-header__icons{
            order:3;
            width:150px;
        }
        
        

    @media screen and (min-width: $breakpoint-desktop){
        
        .flex-main-header{
            max-width: 100%;
            margin: 0 auto;
        }
        
    }

    

    }

