.l-main-header_background{
    background: linear-gradient(45deg, $color-primary,$color-secondary);
    height:200px;
    width:100%;

    &_aside{
        position:absolute;
        margin:0px;
        margin-left:10px;
        display: flex;
        flex-direction: column;
        

        &_logo{

            position:relative;
            margin:0px;
            background: white;
            max-width:150px;
           
        }

        &_logo img{
            box-sizing: border-box;
            width:120px;
        }

        &_icons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }

        &_icons img{
            position:relative;
            max-width:40px;
            height:auto;
            margin:10px;
            

        }
    }
}