.main-content{
    
    background-color: rgb(228, 228, 228);
    margin:0 auto;
}

.main-content-nav{
    position: relative;
    
    top: 30px;
}

#buttons-home{
    
    display: inline;
    margin:10px;

    & i{
        padding: 5px 15px;
        background-color: white;
        font-size: 12px;

        
    }
}


#buttons-current{
    
    display: inline;
    margin:10px;
}

#buttons-current h3{
    color:black;
    font-size: 12px;
    padding: 5px 15px;
    
    
    display: inline-block;
    background-color: white;
    
    
}


.main-content-form{
    margin-top: 40px;
    padding-bottom: 40px ;
    
}

.form-inscription{
    
    
    top: 15px;
    position: relative;
    box-sizing: border-box;
}

fieldset{
    border:none;
    padding-block-start: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    padding-block-end: 15px;
    min-inline-size: min-content;
    
    & legend{
        
        padding-top:60px;
    }

    & input{
        box-sizing: border-box;
        border: none;
        border-bottom: 1px blue solid;
        margin-top: 10px;
        margin-bottom: 30px;
        max-width:100%;

    }

    & #submit{
        border:2px black solid;
        padding: 15px 5px;
        display: inline;
        box-sizing: content-box;
    }

    
    

 }
 

 label {
    margin-top:15px;
    display: flex;
    max-width: 100%;
    
    
    }










