.main-content{
    
    background-color: rgb(228, 228, 228);
    margin:0 auto;
}

.main-content-nav{
    position: relative;
    
    top: 30px;
}

#buttons-home{
    
    display: inline;
    margin:10px;

    & i{
        padding: 5px 15px;
        background-color: white;
        font-size: 12px;

        
    }
}


#buttons-current{
    
    display: inline;
    margin:10px;
}

#buttons-current h3{
    color:black;
    font-size: 12px;
    padding: 5px 15px;
    
    
    display: inline-block;
    background-color: white;
    
    
}


.main-content-form{
    margin-top: 40px;
    padding-bottom: 40px ;
    
}


fieldset{
    border: none;
}
.form-inscription{
    
    top: 15px;
    width: 100%;
    box-sizing: border-box;
    padding-block-start: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding-block-end: 15px;



    & legend{
        
        padding-top:40px;
    }

    & #submit{
        border:2px black solid;
        padding: 15px 5px;
        display: inline;
        box-sizing: content-box;
    }



}

.form-inscription-column{
    display: flex;
    width:100%;
    flex-direction: column;


}


.l-form-border{
    display: flex;
    flex-direction: column;


    & label {
        padding-top:25px;
        display: flex;

    }

    & input{
        
        border: none;
        border-bottom: 1px blue solid;
        
        
        width: 100%;
        

    }

  

    
}

    












