


.nav-menu{
    position:fixed;
    top:-100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
    width:100%;
    height:100%;
    text-align: center;
    transition: 0.5s;

    &.active{
        top:0;
    }


}

.nav-item{
    margin:1.6rem 0;
}

.nav-link{
    color:white;

    &:hover{
        border-bottom: 3px $color-tertiary solid;
    }
}

@media screen and (min-width: $breakpoint-tablet){

    .l-main-header__navbar {
        display: block;
        
    } 
    
        
    .nav-menu{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        background-color: transparent;
        
    }
            
    .nav-link{
        
    color:white;
    margin-left: 4rem;

        &:hover{
        
        padding-bottom: 10px;
        border-bottom: 3px $color-tertiary solid;
        
        
        }

       
    }
}

