


.nav-menu{
    position:fixed;
    right:-100%;
    top:0;
    display: block;
    height:100%;
    width:100%;
    background-color: $color-primary;
    margin:0;
    padding:0;
    text-align: center;
    transition: 0.3s;
    z-index:2;
    padding-top: 6rem;


}
.nav-menu.active{
    right:0;
    top:0;
    height:100%;
    z-index: 2;

}

.nav-item{
    margin:1.6rem 0 0 0;
}

.nav-link{
    
    display: inline-block;
    color:white;

    &:hover{
        color:$color-tertiary;
    }
    
}



@media screen and (min-width: $breakpoint-tablet){

    .l-main-header__navbar {
        display: block;
        
    } 
    
        
    .nav-menu{
        
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        background-color: transparent;
        position: static;
        
        width:auto;
        padding-top:0;
        
        
    }
            
    .nav-link{
        
    color:white;
    margin:0 0 1rem 2rem;
    padding-bottom: 10px;

        &:hover{
        
        margin-bottom: 10px;
        border-bottom: 3px $color-tertiary solid;
        
        
        }

       
    }
}

