li{
    list-style-type: none;
}

.background-menu-hamburger{
   
    position:fixed;
    width: 80px;
    height:80px;
    right:0px;
    top:0px;
    
    background-color: darken($color-primary, 20);
    border-radius: 0 0 0 2rem;
    
    
}


#menu-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    }



 #menu-btn:before, #menu-btn:after, #menu-btn #menu-btn__burger{
    position: relative;
    height: 6px;
    content: '';
    display: block;
    margin: 7px 0;
    background-color: $color-tertiary;
    border-radius: 3px;
    transition: 0.5s;
    
}


#menu-btn:hover #menu-btn__burger{
    transform:translateX(-50px) scale(0);
}

#menu-btn:hover:before{
    transform: translateY(12px) rotate(135deg) ;
}
#menu-btn:hover:after{
    transform: translateY(-12px) rotate(-135deg) ;
}


@media screen and (min-width: $breakpoint-tablet) {
.background-menu-hamburger{
    display: none;
}
    
}